PORT=4000

CORS_ORIGIN=http://localhost:3000

MONGODB_URI=mongodb://127.0.0.1:27017/coco_agent

GROQ_API_KEY=your_groq_api_key_here
QWEN_MODEL=qwen/qwen3-32b
GPT_MODEL=openai/gpt-oss-120b


ACTION_OUTPUT_DIR=generated


PUPPETEER_HEADLESS=false
ACTION_STOP_ON_FAILURE=true

RESEND_API_KEY=your_resend_api_key_here
